@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    transform: 0; } }

@keyframes moveInBtn2 {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    transform: 0; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: #fcfcfc;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333; }

.header__primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(to right bottom, #FFC837, #FF8008);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }
  @media (max-width: 56.25em) {
    .header__primary {
      font-size: 2.8rem; } }

.header__secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #FFC837, #FF8008);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s ease-in; }
  @media (max-width: 56.25em) {
    .header__secondary {
      font-size: 2.5rem; } }
  .header__secondary:hover {
    transform: translateY(-3px) scale(1.05); }

.header__tertiary {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #737373;
  text-transform: uppercase; }

.header__bookmarks {
  cursor: pointer; }
  .header__bookmarks, .header__bookmarks:link, .header__bookmarks:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #FFC837;
    font-weight: 600;
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding-bottom: .2rem;
    border-bottom: 1px solid transparent;
    transition: transform .2s; }
  .header__bookmarks:hover, .header__bookmarks:active {
    transform: translateY(-3px);
    border-bottom: 1px solid #FFC837; }
  .header__bookmarks--secondary {
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    margin: 0; }
  .header__bookmarks--primary {
    margin: 0;
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    color: #333;
    font-weight: 600;
    text-transform: uppercase; }

.mainp {
  font-size: 2rem;
  color: #333; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 75em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 12rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-huge {
      margin-bottom: 8rem !important; } }
  @media (max-width: 37.5em) {
    .u-margin-bottom-huge {
      margin-bottom: 6rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem !important; } }

.u-border-light {
  border-top: 1px solid #eee; }

.u-pos-rel {
  position: relative !important; }

.u-link-active {
  color: #FF8008 !important; }
  @media (max-width: 56.25em) {
    .u-link-active {
      background-color: rgba(252, 252, 252, 0.8) !important;
      border-radius: 2px; } }

.u-link-disabled {
  visibility: hidden !important; }

.button, .button:link, .button:visited {
  text-decoration: none;
  display: inline-block; }

.button__primary, .button__primary:link, .button__primary:visited {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem 4rem;
  border-radius: 20rem;
  margin-top: 0.5rem;
  color: #FFC837;
  background-image: linear-gradient(#737373, #737373);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all .3s ease; }

.button__primary:hover {
  color: #fcfcfc;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right bottom, #FFC837 0%, #FF8008 40%, #FF8008 60%, #FFC837 100%); }

.button__primary:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.button__primary--animated {
  animation: moveInBtn 2s ease-out .5s;
  animation-fill-mode: backwards; }

.button__next {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 3px;
  background-color: #FF8008;
  text-align: center;
  color: #fcfcfc;
  font-weight: 800; }

.clickLink {
  cursor: pointer;
  display: inline-block; }
  .clickLink, .clickLink:link, .clickLink:visited {
    text-decoration: none;
    color: #FF8008;
    padding-bottom: .2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #FF8008;
    transition: transform .2s; }
    @media (max-width: 56.25em) {
      .clickLink, .clickLink:link, .clickLink:visited {
        margin: 0; } }
  .clickLink:hover, .clickLink:active {
    color: #000;
    transform: translateY(-3px) scale(1.02);
    border-bottom: 1px solid transparent;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2); }

.section-join {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #FFC837, #FF8008); }

.join {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/groupPhoto.jpg);
  background-size: 100%;
  background-position: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
  @media (max-width: 75em) {
    .join {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/groupPhoto.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .join {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/groupPhoto.jpg); } }
  .join__form {
    padding: 6rem;
    width: 50%; }
    @media (max-width: 75em) {
      .join__form {
        width: 50%; } }
    @media (max-width: 56.25em) {
      .join__form {
        width: 100%; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #fcfcfc;
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  width: 70%;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input::-webkit-input-placeholder {
    color: #737373; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #62AA36; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #FF3737; }

.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: .7rem;
  margin-left: 2rem;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.content__wrap--2 {
  column-count: 2;
  column-gap: 6rem; }
  @media (max-width: 56.25em) {
    .content__wrap--2 {
      column-count: 1; } }

.content__wrap--3 {
  column-count: 3;
  column-gap: 6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (max-width: 75em) {
    .row {
      max-width: 80%; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0 1rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 80%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 3rem; } }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 6rem)/4) + 2 * (6rem)); }

.navigation {
  margin-top: 8rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  position: relative; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }
  .navigation__logo-box {
    display: block;
    float: left; }
  .navigation__logo {
    margin-right: 5rem;
    width: 12rem; }
    @media (max-width: 56.25em) {
      .navigation__logo {
        height: 8rem;
        width: auto;
        margin: 0;
        padding-right: 5rem; } }
  .navigation__list {
    padding-top: 5rem; }
  .navigation__item {
    display: inline-block;
    list-style: none; }
    .navigation__item:not(:last-child) {
      margin-right: 5rem; }
      @media (max-width: 75em) {
        .navigation__item:not(:last-child) {
          margin-right: 3rem; } }
      @media (max-width: 56.25em) {
        .navigation__item:not(:last-child) {
          margin-right: 0; } }
    .navigation__item--right {
      float: right; }
  .navigation__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: .7rem;
    transition: transform .3s; }
    .navigation__link:link, .navigation__link:visited {
      color: #737373;
      border-bottom: 1px solid transparent; }
    .navigation__link:hover, .navigation__link:active, .navigation__link:focus {
      color: #FF8008;
      transform: translateY(-3px);
      border-bottom: 1px solid #FF8008; }
    .navigation__link--hidden {
      display: none;
      visibility: hidden; }
      @media (max-width: 75em) {
        .navigation__link--hidden {
          display: inline-block;
          visibility: visible; } }
  @media (max-width: 75em) {
    .navigation__span {
      display: none;
      visibility: hidden; } }
  .navigation__dropdown {
    position: relative;
    cursor: pointer;
    padding-bottom: 1rem; }
  .navigation__dropdown-menu {
    min-width: 13.5rem;
    position: absolute;
    margin-top: 1rem;
    padding: .5rem 1.6rem;
    box-shadow: 0.5rem 0 1.5rem rgba(0, 0, 0, 0.15);
    background-color: #fcfcfc;
    border-radius: 3px;
    display: none;
    z-index: 1; }
  .navigation__dropdown-item:link, .navigation__dropdown-item:visited {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    padding: .5rem 0; }
  .navigation__dropdown-item:hover, .navigation__dropdown-item:active {
    color: #FF8008; }
  .navigation__dropdown:hover .navigation__dropdown-menu {
    display: block; }
    @media (max-width: 75em) {
      .navigation__dropdown:hover .navigation__dropdown-menu {
        display: none; } }
  .navigation__kennelInfo:link, .navigation__kennelInfo:visited {
    text-transform: uppercase; }
  .navigation__checkbox, .navigation__button, .navigation__icon, .navigation__background {
    display: none;
    visibility: hidden; }
  @media (max-width: 56.25em) {
    .navigation {
      margin-top: 4rem;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
      .navigation__button, .navigation__icon, .navigation__background {
        display: inline-block;
        visibility: visible; }
      .navigation__background {
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 5rem;
        right: 5rem;
        border-radius: 50%;
        background-image: radial-gradient(#FF8008, #FFC837);
        z-index: 1000;
        transition: all .8s ease; }
      .navigation__nav {
        height: 100vh;
        position: fixed;
        top: 5rem;
        left: -200rem;
        z-index: 1800;
        font-size: 2.5rem;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        transition: opacity .8s ease; }
      .navigation__list {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center; }
      .navigation__item {
        padding: 0;
        margin-bottom: 6rem;
        display: block; }
      .navigation__link {
        transition: all .2s; }
        .navigation__link, .navigation__link:link, .navigation__link:visited {
          padding: 2rem 10rem;
          color: #eee; }
        .navigation__link:hover, .navigation__link:active {
          background-color: rgba(252, 252, 252, 0.4);
          border-radius: 2px;
          box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
          transform: translateY(-3px) scale(1.02); }
      .navigation__checkbox:checked ~ .navigation__background {
        transform: scale(80); }
      .navigation__checkbox:checked ~ .navigation__nav {
        left: 0;
        visibility: visible;
        opacity: 1; }
      .navigation__button {
        text-align: center;
        width: 6rem;
        height: 6rem;
        display: inline-block;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 2000; }
      .navigation__icon {
        position: relative;
        top: 50%; }
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 2.5rem;
          height: 2px;
          background-color: #fcfcfc;
          display: inline-block; }
        .navigation__icon::before, .navigation__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }
        .navigation__icon::before {
          top: -.8rem; }
        .navigation__icon::after {
          top: .8rem; }
      .navigation__button:hover .navigation__icon::before {
        top: -1rem; }
      .navigation__button:hover .navigation__icon::after {
        top: 1rem; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 0;
        transform: rotateZ(135deg); }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        top: 0;
        transform: rotateZ(-135deg); } }

.footer {
  background-color: #333;
  color: #eee;
  padding: 10rem 0;
  font-size: 1.4rem;
  text-align: center; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    padding: 1.5rem;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #FFC837, #FF8008);
    display: inline-block;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    margin-right: 1rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none;
    text-align: left; }
    @media (max-width: 56.25em) {
      .footer__list {
        text-align: center; } }
  .footer__item {
    display: inline-block;
    padding-bottom: 1.5rem; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
      @media (max-width: 75em) {
        .footer__item:not(:last-child) {
          margin-right: 3rem; } }
  .footer__link:link, .footer__link:visited {
    opacity: .6;
    color: #FFC837;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    border-bottom: 1px solid transparent; }
    @media (max-width: 75em) {
      .footer__link:link, .footer__link:visited {
        opacity: 1; } }
  .footer__link:hover, .footer__link:active {
    opacity: 1;
    color: #FFC837;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-2px) scale(1.3);
    border-bottom: 1px solid #FFC837; }
  .footer__copyright {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    width: 80%;
    float: right;
    margin: 0;
    text-align: left; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.header {
  z-index: -3; }
  .header__row {
    position: relative; }
    .header__row::after {
      content: "";
      display: table;
      clear: both; }
  .header__wrapper {
    top: 50%;
    float: left;
    width: 45%;
    margin-right: 5rem; }
    @media (max-width: 75em) {
      .header__wrapper {
        width: 40%;
        margin-right: 3rem; } }
    @media (max-width: 56.25em) {
      .header__wrapper {
        width: 100%;
        margin-bottom: 3rem; } }
  .header__btn {
    position: absolute;
    bottom: 10%;
    left: 45%; }
    @media (max-width: 75em) {
      .header__btn {
        bottom: 2rem; } }
    @media (max-width: 56.25em) {
      .header__btn {
        left: 10%;
        bottom: 20%; } }
    @media (max-width: 37.5em) {
      .header__btn {
        left: 5rem;
        bottom: 2.5rem; } }
  .header__background {
    position: relative;
    display: inline-block;
    float: right;
    height: 50rem;
    width: 50%;
    z-index: -2;
    background-image: linear-gradient(to right bottom, #FFC837, #FF8008); }
    @media (max-width: 75em) {
      .header__background {
        height: 40rem; } }
    @media (max-width: 56.25em) {
      .header__background {
        width: 100%;
        height: 25rem;
        float: none; } }
  .header__image {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60rem;
    z-index: -1; }
    @media (max-width: 75em) {
      .header__image {
        width: 45rem; } }
    @media (max-width: 56.25em) {
      .header__image {
        width: 35rem; } }
    @media (max-width: 37.5em) {
      .header__image {
        width: 30rem; } }

.header-sm__wrap {
  display: inline-block;
  float: right;
  margin-right: 5rem; }
  @media (max-width: 75em) {
    .header-sm__wrap {
      display: block;
      margin-left: 2rem;
      float: none; } }
  @media (max-width: 56.25em) {
    .header-sm__wrap {
      display: inline-block;
      float: right;
      margin: 0; } }

.header-sm__icon {
  font-size: 4rem;
  padding-bottom: .5rem; }
  @media (max-width: 75em) {
    .header-sm__icon {
      font-size: 3rem;
      margin-top: 1rem; } }

.header-sm__link {
  display: inline-block;
  animation: moveInBtn 2s ease-out .5s;
  animation-fill-mode: backwards;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .3s; }
  .header-sm__link:not(:last-child) {
    margin-right: 3rem; }
    @media (max-width: 75em) {
      .header-sm__link:not(:last-child) {
        margin-right: 1.5rem; } }
  .header-sm__link, .header-sm__link:link, .header-sm__link:visited .header-sm__link__icon {
    color: #FF8008; }
  .header-sm__link:hover, .header-sm__link:active {
    border-bottom: 1px solid #FFC837;
    transform: translateY(-3px) scale(1.02); }
  .header-sm__link:hover, .header-sm__link:active .header-sm__link__icon {
    background-image: linear-gradient(to right bottom, #FFC837, #FF8008);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }

.sponsors__container {
  margin: 0 auto; }

.sponsors__list {
  padding: 0;
  display: block;
  text-align: center; }

.sponsors__item {
  list-style: none;
  display: inline-block;
  height: 6rem; }
  .sponsors__item:not(:last-child) {
    padding-right: 1rem; }
  @media (max-width: 37.5em) {
    .sponsors__item {
      padding-right: .5rem; } }

.sponsors__logo {
  height: 5rem;
  animation: moveInBtn 2s ease-out .75s;
  animation-fill-mode: backwards; }
  @media (max-width: 75em) {
    .sponsors__logo {
      height: 3rem; } }
  @media (max-width: 37.5em) {
    .sponsors__logo {
      height: 2rem; } }

.sponsors__link {
  text-decoration: none;
  padding: 1rem 2rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: inline-block;
  transition: all .4s ease;
  opacity: .7; }
  .sponsors__link:hover {
    transform: translateY(-3px) scale(1.03);
    border-top: 2px solid #FFC837;
    border-bottom: 2px solid #FFC837;
    opacity: 1; }
  @media (max-width: 37.5em) {
    .sponsors__link {
      padding: .5rem 1rem; } }

.feature {
  padding: 10rem 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/groupPhoto2.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 56.25em) {
    .feature {
      background-image: none;
      padding: 0; } }

.feature-box {
  background: rgba(252, 252, 252, 0.7);
  font-size: 1.5rem;
  padding: 5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  cursor: pointer;
  transition: transform .3s; }
  .feature-box__link {
    text-decoration: none;
    color: inherit; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, #FFC837, #FF8008);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    border-bottom: 3px solid #FF8008;
    border-top: 3px solid #FFC837;
    background: #fcfcfc; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 5rem; } }

.breed__wrap {
  position: relative;
  height: 45rem; }
  @media (max-width: 75em) {
    .breed__wrap {
      height: 30rem; } }
  @media (max-width: 56.25em) {
    .breed__wrap {
      height: 65rem; } }

.breed__img-wrapper {
  position: absolute;
  right: 0; }
  @media (max-width: 75em) {
    .breed__img-wrapper {
      width: 80%;
      text-align: right; } }
  @media (max-width: 56.25em) {
    .breed__img-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 1rem; } }

.breed__img {
  border-radius: 2px;
  width: 22rem;
  transition: transform .3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .breed__img:not(:last-child) {
    margin-right: 2rem; }
  .breed__img:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  @media (max-width: 75em) {
    .breed__img {
      width: 15rem; } }
  @media (max-width: 56.25em) {
    .breed__img {
      width: 18rem; } }
  @media (max-width: 37.5em) {
    .breed__img {
      width: 27%; } }

.breed__btn {
  position: absolute;
  right: 2rem; }
  @media (max-width: 56.25em) {
    .breed__btn {
      right: 0; } }

.club-header__img {
  display: block; }

.club-header__wrap {
  position: relative;
  left: 10rem; }
  @media (max-width: 56.25em) {
    .club-header__wrap {
      display: none; } }

.club-header__background {
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(to right, #FFC837, #FF8008);
  height: 20rem;
  width: 20rem;
  left: 0rem;
  bottom: 0rem;
  z-index: -1; }

.bookmarks {
  background-color: #333;
  padding-top: 2rem;
  padding-bottom: 4rem; }
  .bookmarks__icon {
    font-size: 3rem;
    color: white;
    margin-right: 1rem;
    background-image: linear-gradient(to right bottom, #FFC837, #FF8008);
    -webkit-background-clip: text;
    color: transparent; }

.karakter__img {
  width: 80%; }

.hoofd-table {
  color: #333;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  border-bottom: 1px solid #eee;
  border-collapse: collapse; }
  .hoofd-table tr, .hoofd-table td {
    padding: 1.5rem;
    border-bottom: 1px solid #eee;
    border-collapse: collapse; }
  .hoofd-table td:first-child {
    font-weight: 600; }
  @media (max-width: 56.25em) {
    .hoofd-table {
      width: 100%; } }

.sticky {
  position: sticky;
  top: 0;
  padding: 2rem 0;
  text-align: right; }
  .sticky .upicon, .sticky .upicon:link, .sticky .upicon:visited {
    text-decoration: none; }
    .sticky .upicon .icon-wrap, .sticky .upicon:link .icon-wrap, .sticky .upicon:visited .icon-wrap {
      font-size: 2rem;
      text-align: center;
      border-radius: 3px;
      display: inline-block;
      padding: 1rem 2rem;
      background-color: rgba(238, 238, 238, 0.5);
      color: rgba(255, 128, 8, 0.9);
      border-bottom: 1px solid transparent;
      transition: transform .2s; }
  .sticky .upicon:hover .icon-wrap, .sticky .upicon:active .icon-wrap {
    background-color: rgba(115, 115, 115, 0.85);
    color: #ffc837;
    border-bottom: 2px solid #FFC837;
    transform: translateY(-0.5rem) scale(1.02); }

.text-list {
  margin-left: 3rem; }
